@CHARSET "utf-8";

body{
	
}

a:link, a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

p.breadcrumb {
	font-size:11px;
	margin-top: 0;
	border-bottom: 1px solid grey;
}

#page {
	width:900px;
	margin:0 auto;
	font-family:sans-serif;
}

#header {
	width:146px;
	height:48px;
	background-image:url('pictures/Logo_Entwurf_1.png');
	position:relative;
        right:50px;
}

#main {
	min-width:860px;
	background-color:#669966;
	padding:20px;
	border-radius:7px;
	overflow: hidden;
}

#leftmenu {
	float:left;
	width:150px;
	color:white;
}

#content {
	float:right;
	width:660px;
	min-height:360px;
	background-image:url('pictures/rechenpapier_background.jpg');
	padding:20px; 
	overflow:scroll;
	
}

#content table {
	min-width: 100%;
}

#footer {
	clear:both;
	width:900px;
	height:40px;
	text-align:right;
	color:#63864b;
	
}

tr.klasse { 
	text-align: center; 
	font-size:1.15em;
	height:40px;
}

tr.klasse td {
	border-bottom:2px solid black;
}

.klasselinks { 
	text-align:middle; 
	font-size:1.15em;
	
	text-indent: -15px;

}

table.statstable {
	min-width:20%;
}

table.statstable tr td {
	min-width: 40px;
	min-height: 20px;
}

td.rot {
	background-color:#ff6666;
	text-align: center; 
}
	
td.gruen {
	background-color:#339966; 
	text-align: center; 

}
	
td.gelb {
	background-color:#ffff99;
	text-align: center; 
}
	
td.oben {
	height:20px; 
	text-align:center;
}
	
td.col {
	font-size:10pt;
	text-align:center;
}

td.links {
	vertical-align:top;
	text-align: left;
}

