@CHARSET "utf-8";

body{
	
}

a:link, a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

p.breadcrumb {
	font-size:11px;
	margin-top: 0;
	border-bottom: 1px solid grey;
}

#page {
	width:900px;
	margin:0 auto;
	font-family:sans-serif;
}

#header {
	width:146px;
	height:48px;
	background-image:url('pictures/Logo_Entwurf_1.png');
	position:relative;
        right:50px;
}

#main {
	width:860px;
	height: 400px;
	background-color:#63864b;
	padding:20px;
	border-radius:7px;
}

#leftmenu {
	float:left;
	width:150px;
	height:400px;
	background-color:#63864b;
	color:white;
}

#content {
	float:right;
	width:660px;
	height:360px;
	background-image:url('pictures/rechenpapier_background.jpg');
	padding:20px;
	overflow:auto;
}

#footer {
	clear:both;
	width:900px;
	height:40px;
	text-align:right;
	color:#63864b;
	
}

ul
{
	padding: 0px;
	margin: 0px;
}

