@CHARSET "utf-8";

body{
	
}

a:link, a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

p.breadcrumb {
	font-size:11px;
	margin-top: 3px;
	border-bottom: 1px solid grey;
}

#page {
	width:900px;
	margin:0 auto;
	font-family:sans-serif;
	font-size:10pt;
}

#header {
	width:146px;
	height:48px;
	background-image:url('pictures/Logo_Entwurf_1.png');
	position:relative;
        right:50px;
}

#main {
	min-width:860px;
	background-color:#669966;
	padding:20px;
	border-radius:7px;
	overflow: hidden;
}

#leftmenu {
	float:left;
	width:150px;
	color:white;
}

#leftmenu a {
	color: #ffffff;
	width:100%;
	padding: 4px;
	background-color: #558855;
	margin: 0px;
	border: 1px solid #609060;
	display:block;
	text-align: center;
}

#content {
	float:right;
	width:660px;
	min-height:360px;
	background-image:url('pictures/rechenpapier_background.jpg');
	padding:20px; 
	overflow-x:scroll;
	
}

#content table {
	min-width: 100%;
}

#content table td {
	padding: 5px;
}

#content table td.checkBox {
	width: 16px;
}

#content table input.fullWidth {
	min-width:100%;
}

#footer {
	clear:both;
	width:900px;
	height:40px;
	text-align:right;
	color:#63864b;
	
}

tr.klasse { 
	text-align: center; 
	font-size:1.15em;
	height:40px;
}

tr.klasse td {
	border-bottom:2px solid black;
}

.klasselinks { 
	text-align:middle; 
	font-size:1.15em;
	
	text-indent: -15px;

}

table.statstable {
	min-width:20%;
}

table.statstable tr {
	min-width:20%;
	
}

table.statstable tr td {
	min-width: 40px;
	height: 10px;
	padding: 0px;
}

p.rot {
	background-color:#ff6666;
	border: 1px solid #dd3333;
	padding: 4px;
	color: #FFFFFF;
}

td.rot{
	background-color:#ff6666;
	color: #FFFFFF;
	text-align: center; 
}

td.rot a {
	color: #FFFFFF;
}

p.gruen {
	background-color:#339966;
	border: 1px solid #006633;
	padding: 4px;
	color: #FFFFFF;
}
	
td.gruen {
	background-color:#339966;
	text-align: center;
	color: #FFFFFF;
}

td.gruen a {
	color: #FFFFFF;
}
	
td.gelb {
	background-color:#ffff99;
	text-align: center; 
}
	
tr.topCol td {
	height:34px; 
	text-align:center;
	font-weight: bold;
	border-bottom: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
}
	
tr.col td {
	font-size:10pt;
	text-align:center;
	border-bottom: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
}

td.links {
	vertical-align:top;
	text-align: left;
	border-bottom: 1px solid #c9c9c9;
}

